In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DO22OPEN.csv', sep=';')

/tmp/ipython-input-124028148.py:1: DtypeWarning: Columns (66) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DO22OPEN.csv', sep=';')

In [3]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
ORIGEM,1,1,1,1,1,1,1,1,1,1
TIPOBITO,2,2,2,2,2,2,2,2,2,2
DTOBITO,21042022,22042022,22042022,23042022,20042022,12042022,19042022,8042022,9042022,2052022
HORAOBITO,1230.0,1203.0,1525.0,937.0,1351.0,1420.0,1400.0,435.0,1115.0,1400.0
NATURAL,835.0,827.0,835.0,835.0,829.0,835.0,835.0,833.0,190.0,829.0
...,...,...,...,...,...,...,...,...,...,...
MORTEPARTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DTCONCASO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FONTESINF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ALTCAUSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTADOR,1,2,3,4,5,6,7,8,9,10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1544266 entries, 0 to 1544265
Data columns (total 87 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ORIGEM      1544266 non-null  int64
 1   TIPOBITO    1544266 non-null  int64
 2   DTOBITO     1544266 non-null  int64
 3   HORAOBITO   1491940 non-null  float64
 4   NATURAL     1472847 non-null  float64
 5   CODMUNNATU  1451796 non-null  float64
 6   DTNASC      1540924 non-null  float64
 7   IDADE       1544266 non-null  int64
 8   SEXO        1544266 non-null  int64
 9   RACACOR     1515441 non-null  float64
 10  ESTCIV      1472737 non-null  float64
 11  ESC         1445264 non-null  float64
 12  ESC2010     1437670 non-null  float64
 13  SERIESCFAL  393788 non-null   float64
 14  OCUP        1326050 non-null  float64
 15  CODMUNRES   1544266 non-null  int64
 16  LOCOCOR     1544266 non-null  int64
 17  CODESTAB    1115037 non-null  float64
 18  ESTABDESCR  0 non-null        float64
 19  CODMUNOCOR  1544266 non-null  int64
 20  IDADEMAE    29100 non-null    float64
 21  ESCMAE      28734 non-null    float64
 22  ESCMAE2010  28629 non-null    float64
 23  SERIESCMAE  11536 non-null    float64
 24  OCUPMAE     25818 non-null    float64
 25  QTDFILVIVO  28913 non-null    float64
 26  QTDFILMORT  27859 non-null    float64
 27  GRAVIDEZ    29839 non-null    float64
 28  SEMAGESTAC  28341 non-null    float64
 29  GESTACAO    28341 non-null    float64
 30  PARTO       29676 non-null    float64
 31  OBITOPARTO  29413 non-null    float64
 32  PESO        28628 non-null    float64
 33  TPMORTEOCO  89017 non-null    float64
 34  OBITOGRAV   89387 non-null    float64
 35  OBITOPUERP  89370 non-null    float64
 36  ASSISTMED   1065180 non-null  float64
 37  EXAME       2684 non-null     float64
 38  CIRURGIA    2493 non-null     float64
 39  NECROPSIA   1088246 non-null  float64
 40  LINHAA      1495449 non-null  object
 41  LINHAB      1167654 non-null  object
 42  LINHAC      714263 non-null   object
 43  LINHAD      299954 non-null   object
 44  LINHAII     659387 non-null   object
 45  CAUSABAS    1544266 non-null  object
 46  CB_PRE      0 non-null        float64
 47  COMUNSVOIM  252106 non-null   float64
 48  DTATESTADO  1537054 non-null  float64
 49  CIRCOBITO   152607 non-null   float64
 50  ACIDTRAB    49818 non-null    float64
 51  FONTE       125267 non-null   float64
 52  NUMEROLOTE  1544137 non-null  float64
 53  TPPOS       1002774 non-null  object
 54  DTINVESTIG  251838 non-null   float64
 55  CAUSABAS_O  1543416 non-null  object
 56  DTCADASTRO  1543633 non-null  float64
 57  ATESTANTE   1425318 non-null  float64
 58  STCODIFICA  1543959 non-null  object
 59  CODIFICADO  1544264 non-null  object
 60  VERSAOSIST  1544264 non-null  object
 61  VERSAOSCB   1486686 non-null  float64
 62  FONTEINV    254614 non-null   float64
 63  DTRECEBIM   1542955 non-null  float64
 64  ATESTADO    1544173 non-null  object
 65  DTRECORIGA  1544266 non-null  int64
 66  CAUSAMAT    36 non-null       object
 67  ESCMAEAGR1  28629 non-null    float64
 68  ESCFALAGR1  1437661 non-null  float64
 69  STDOEPIDEM  1544264 non-null  float64
 70  STDONOVA    1544266 non-null  int64
 71  DIFDATA     1544266 non-null  int64
 72  NUDIASOBCO  62120 non-null    float64
 73  NUDIASOBIN  0 non-null        float64
 74  DTCADINV    62459 non-null    float64
 75  TPOBITOCOR  62459 non-null    float64
 76  DTCONINV    62047 non-null    float64
 77  FONTES      29380 non-null    object
 78  TPRESGINFO  2999 non-null     float64
 79  TPNIVELINV  62532 non-null    object
 80  NUDIASINF   0 non-null        float64
 81  DTCADINF    29380 non-null    float64
 82  MORTEPARTO  29380 non-null    float64
 83  DTCONCASO   26973 non-null    float64
 84  FONTESINF   0 non-null        float64
 85  ALTCAUSA    28409 non-null    float64
 86  CONTADOR    1544266 non-null  int64
dtypes: float64(60), int64(12), object(15)
memory usage: 1.0+ GB

In [5]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2022-04-21
1 2022-04-22
2 2022-04-22
3 2022-04-23
4 2022-04-20
datetime64[ns]

In [6]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2022-05-04
1 2022-05-04
2 2022-05-04
3 2022-05-04
4 2022-05-04
datetime64[ns]

In [7]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1922-04-29
1 1948-07-05
2 1952-10-10
3 1938-06-25
4 1956-10-18
datetime64[ns]

In [8]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2022-04-22
1 2022-04-23
2 2022-04-23
3 2022-04-23
4 2022-04-20
datetime64[ns]

In [9]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2022-05-02
1 2022-05-02
2 2022-05-02
3 2022-05-02
4 2200-01-01
datetime64[ns]

In [10]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2022-04-29
1 2022-04-29
2 2022-04-29
3 2022-04-29
4 2022-04-29
datetime64[ns]

In [11]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2022-05-04
1 2022-05-04
2 2022-05-04
3 2022-05-04
4 2022-05-04
datetime64[ns]

In [12]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [13]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [14]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [15]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [16]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

In [17]:
df.info()
#Valores Nulos -> 01/01/2200
#DTOBITO   1316719 non-null  int64
#DTRECORIGA  1316719 non-null  int64
#DTNASC      1312650 non-null  float64
#DTATESTADO  1306593 non-null  float64
#DTINVESTIG  211899 non-null   float64
#DTCADASTRO  1312600 non-null  float64
#DTRECEBIM   1316445 non-null  float64
#DTCADINV    57903 non-null    float64
#DTCONINV    57438 non-null    float64
#DTCADINF    32303 non-null    float64
#DTCONCASO   29807 non-null    float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1544266 entries, 0 to 1544265
Data columns (total 87 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ORIGEM      1544266 non-null  int64
 1   TIPOBITO    1544266 non-null  int64
 2   DTOBITO     1544266 non-null  datetime64[ns]
 3   HORAOBITO   1544266 non-null  float64
 4   NATURAL     1544266 non-null  float64
 5   CODMUNNATU  1544266 non-null  float64
 6   DTNASC      1544266 non-null  object
 7   IDADE       1544266 non-null  int64
 8   SEXO        1544266 non-null  int64
 9   RACACOR     1544266 non-null  float64
 10  ESTCIV      1544266 non-null  float64
 11  ESC         1544266 non-null  float64
 12  ESC2010     1544266 non-null  float64
 13  SERIESCFAL  1544266 non-null  float64
 14  OCUP        1544266 non-null  float64
 15  CODMUNRES   1544266 non-null  int64
 16  LOCOCOR     1544266 non-null  int64
 17  CODESTAB    1544266 non-null  float64
 18  ESTABDESCR  1544266 non-null  float64
 19  CODMUNOCOR  1544266 non-null  int64
 20  IDADEMAE    1544266 non-null  float64
 21  ESCMAE      1544266 non-null  float64
 22  ESCMAE2010  1544266 non-null  float64
 23  SERIESCMAE  1544266 non-null  float64
 24  OCUPMAE     1544266 non-null  float64
 25  QTDFILVIVO  1544266 non-null  float64
 26  QTDFILMORT  1544266 non-null  float64
 27  GRAVIDEZ    1544266 non-null  float64
 28  SEMAGESTAC  1544266 non-null  float64
 29  GESTACAO    1544266 non-null  float64
 30  PARTO       1544266 non-null  float64
 31  OBITOPARTO  1544266 non-null  float64
 32  PESO        1544266 non-null  float64
 33  TPMORTEOCO  1544266 non-null  float64
 34  OBITOGRAV   1544266 non-null  float64
 35  OBITOPUERP  1544266 non-null  float64
 36  ASSISTMED   1544266 non-null  float64
 37  EXAME       1544266 non-null  float64
 38  CIRURGIA    1544266 non-null  float64
 39  NECROPSIA   1544266 non-null  float64
 40  LINHAA      1544266 non-null  object
 41  LINHAB      1544266 non-null  object
 42  LINHAC      1544266 non-null  object
 43  LINHAD      1544266 non-null  object
 44  LINHAII     1544266 non-null  object
 45  CAUSABAS    1544266 non-null  object
 46  CB_PRE      1544266 non-null  float64
 47  COMUNSVOIM  1544266 non-null  float64
 48  DTATESTADO  1544266 non-null  datetime64[ns]
 49  CIRCOBITO   1544266 non-null  float64
 50  ACIDTRAB    1544266 non-null  float64
 51  FONTE       1544266 non-null  float64
 52  NUMEROLOTE  1544266 non-null  float64
 53  TPPOS       1544266 non-null  object
 54  DTINVESTIG  1544266 non-null  datetime64[ns]
 55  CAUSABAS_O  1544266 non-null  object
 56  DTCADASTRO  1544266 non-null  datetime64[ns]
 57  ATESTANTE   1544266 non-null  float64
 58  STCODIFICA  1544266 non-null  object
 59  CODIFICADO  1544266 non-null  object
 60  VERSAOSIST  1544266 non-null  object
 61  VERSAOSCB   1544266 non-null  float64
 62  FONTEINV    1544266 non-null  float64
 63  DTRECEBIM   1544266 non-null  datetime64[ns]
 64  ATESTADO    1544266 non-null  object
 65  DTRECORIGA  1544266 non-null  datetime64[ns]
 66  CAUSAMAT    1544266 non-null  object
 67  ESCMAEAGR1  1544266 non-null  float64
 68  ESCFALAGR1  1544266 non-null  float64
 69  STDOEPIDEM  1544266 non-null  float64
 70  STDONOVA    1544266 non-null  int64
 71  DIFDATA     1544266 non-null  int64
 72  NUDIASOBCO  1544266 non-null  float64
 73  NUDIASOBIN  1544266 non-null  float64
 74  DTCADINV    1544266 non-null  datetime64[ns]
 75  TPOBITOCOR  1544266 non-null  float64
 76  DTCONINV    1544266 non-null  datetime64[ns]
 77  FONTES      1544266 non-null  object
 78  TPRESGINFO  1544266 non-null  float64
 79  TPNIVELINV  1544266 non-null  object
 80  NUDIASINF   1544266 non-null  float64
 81  DTCADINF    1544266 non-null  datetime64[ns]
 82  MORTEPARTO  1544266 non-null  float64
 83  DTCONCASO   1544266 non-null  datetime64[ns]
 84  FONTESINF   1544266 non-null  float64
 85  ALTCAUSA    1544266 non-null  float64
 86  CONTADOR    1544266 non-null  int64
dtypes: datetime64[ns](10), float64(51), int64(10), object(16)
memory usage: 1.0+ GB

In [18]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
ORIGEM,1,1,1,1,1,1,1,1,1,1
TIPOBITO,2,2,2,2,2,2,2,2,2,2
DTOBITO,2022-04-21 00:00:00,2022-04-22 00:00:00,2022-04-22 00:00:00,2022-04-23 00:00:00,2022-04-20 00:00:00,2022-04-12 00:00:00,2022-04-19 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-05-02 00:00:00
HORAOBITO,1230.0,1203.0,1525.0,937.0,1351.0,1420.0,1400.0,435.0,1115.0,1400.0
NATURAL,835.0,827.0,835.0,835.0,829.0,835.0,835.0,833.0,190.0,829.0
...,...,...,...,...,...,...,...,...,...,...
MORTEPARTO,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
DTCONCASO,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00,2200-01-01 00:00:00
FONTESINF,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
ALTCAUSA,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
CONTADOR,1,2,3,4,5,6,7,8,9,10