In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DO24OPEN.csv', sep=';')

/tmp/ipython-input-18392690.py:1: DtypeWarning: Columns (65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('DO24OPEN.csv', sep=';')

In [3]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
contador,1,2,3,4,5,6,7,8,9,10
ORIGEM,1,1,1,1,1,1,1,1,1,1
TIPOBITO,2,2,2,2,2,2,2,2,2,2
DTOBITO,19042024,18012024,22012024,24032024,12012024,2022024,5012024,10012024,1032024,2032024
HORAOBITO,2301.0,1030.0,700.0,1220.0,800.0,903.0,810.0,2000.0,1030.0,540.0
...,...,...,...,...,...,...,...,...,...,...
ALTCAUSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAUSABAS_O,I279,A09,E112,G309,I219,I219,Q248,J129,N19,I501
TPPOS,N,N,N,N,N,N,N,N,N,N
TP_ALTERA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CB_ALT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426346 entries, 0 to 1426345
Data columns (total 86 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   contador    1426346 non-null  int64
 1   ORIGEM      1426346 non-null  int64
 2   TIPOBITO    1426346 non-null  int64
 3   DTOBITO     1426346 non-null  int64
 4   HORAOBITO   1378387 non-null  float64
 5   NATURAL     1368617 non-null  float64
 6   CODMUNNATU  1350369 non-null  float64
 7   DTNASC      1424067 non-null  float64
 8   IDADE       1426346 non-null  int64
 9   SEXO        1426346 non-null  int64
 10  RACACOR     1406901 non-null  float64
 11  ESTCIV      1366817 non-null  float64
 12  ESC         1346703 non-null  float64
 13  ESC2010     1335121 non-null  float64
 14  SERIESCFAL  419236 non-null   float64
 15  OCUP        1236214 non-null  float64
 16  CODMUNRES   1426346 non-null  int64
 17  LOCOCOR     1426346 non-null  int64
 18  CODESTAB    1052082 non-null  float64
 19  CODMUNOCOR  1426346 non-null  int64
 20  IDADEMAE    25652 non-null    float64
 21  ESCMAE      25329 non-null    float64
 22  ESCMAE2010  25075 non-null    float64
 23  SERIESCMAE  10740 non-null    float64
 24  OCUPMAE     22595 non-null    float64
 25  QTDFILVIVO  25550 non-null    float64
 26  QTDFILMORT  24761 non-null    float64
 27  GRAVIDEZ    26222 non-null    float64
 28  SEMAGESTAC  24852 non-null    float64
 29  GESTACAO    25063 non-null    float64
 30  PARTO       26068 non-null    float64
 31  OBITOPARTO  25783 non-null    float64
 32  PESO        25134 non-null    float64
 33  TPMORTEOCO  81193 non-null    float64
 34  OBITOGRAV   82018 non-null    float64
 35  OBITOPUERP  82000 non-null    float64
 36  ASSISTMED   988006 non-null   float64
 37  EXAME       5577 non-null     float64
 38  CIRURGIA    5403 non-null     float64
 39  NECROPSIA   1018463 non-null  float64
 40  LINHAA      1383688 non-null  object
 41  LINHAB      1088568 non-null  object
 42  LINHAC      673062 non-null   object
 43  LINHAD      283050 non-null   object
 44  LINHAII     606589 non-null   object
 45  CAUSABAS    1426346 non-null  object
 46  CB_PRE      0 non-null        float64
 47  COMUNSVOIM  251621 non-null   float64
 48  DTATESTADO  1421591 non-null  float64
 49  CIRCOBITO   143190 non-null   float64
 50  ACIDTRAB    49346 non-null    float64
 51  FONTE       113965 non-null   float64
 52  NUMEROLOTE  1426258 non-null  float64
 53  DTINVESTIG  178824 non-null   float64
 54  DTCADASTRO  1425927 non-null  float64
 55  ATESTANTE   1331112 non-null  float64
 56  STCODIFICA  1425902 non-null  object
 57  CODIFICADO  1426344 non-null  object
 58  VERSAOSIST  1426344 non-null  object
 59  VERSAOSCB   1375051 non-null  float64
 60  FONTEINV    180788 non-null   float64
 61  DTRECEBIM   1371814 non-null  float64
 62  ATESTADO    1426342 non-null  object
 63  DTRECORIGA  1426346 non-null  int64
 64  OPOR_DO     1426346 non-null  int64
 65  CAUSAMAT    21 non-null       object
 66  ESCMAEAGR1  25075 non-null    float64
 67  ESCFALAGR1  1335115 non-null  float64
 68  STDOEPIDEM  1426344 non-null  float64
 69  STDONOVA    1426346 non-null  int64
 70  DIFDATA     1426346 non-null  int64
 71  NUDIASOBCO  49186 non-null    float64
 72  DTCADINV    49448 non-null    float64
 73  TPOBITOCOR  49448 non-null    float64
 74  DTCONINV    49144 non-null    float64
 75  FONTES      21062 non-null    object
 76  TPRESGINFO  1867 non-null     float64
 77  TPNIVELINV  49491 non-null    object
 78  DTCADINF    21062 non-null    float64
 79  MORTEPARTO  21062 non-null    float64
 80  DTCONCASO   19083 non-null    float64
 81  ALTCAUSA    20285 non-null    float64
 82  CAUSABAS_O  1425133 non-null  object
 83  TPPOS       913320 non-null   object
 84  TP_ALTERA   8125 non-null     float64
 85  CB_ALT      2130 non-null     object
dtypes: float64(57), int64(13), object(16)
memory usage: 935.9+ MB

In [5]:
# Transformar em string
df['DTOBITO'] = df['DTOBITO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTOBITO'] = df['DTOBITO'].str.zfill(8)

# Converter para datetime
df['DTOBITO'] = pd.to_datetime(df['DTOBITO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTOBITO']].head())
print(df['DTOBITO'].dtypes)

     DTOBITO
0 2024-04-19
1 2024-01-18
2 2024-01-22
3 2024-03-24
4 2024-01-12
datetime64[ns]

In [6]:
# Transformar em string
df['DTRECORIGA'] = df['DTRECORIGA'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTRECORIGA'] = df['DTRECORIGA'].str.zfill(8)

# Converter para datetime
df['DTRECORIGA'] = pd.to_datetime(df['DTRECORIGA'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTRECORIGA']].head())
print(df['DTRECORIGA'].dtypes)

  DTRECORIGA
0 2024-05-08
1 2024-02-06
2 2024-02-06
3 2024-05-08
4 2024-02-06
datetime64[ns]

In [7]:
# Substituir valores nulos por 22000101
df['DTNASC'] = df['DTNASC'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTNASC'] = df['DTNASC'].astype(int)

# Se quiser como string (opcional)
df['DTNASC'] = df['DTNASC'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTNASC'] = df['DTNASC'].str.zfill(8)

# Converter para datetime
df['DTNASC'] = pd.to_datetime(df['DTNASC'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTNASC']].head())
print(df['DTNASC'].dtypes)

      DTNASC
0 1964-12-24
1 1958-04-29
2 1939-03-23
3 1944-06-10
4 1950-03-08
datetime64[ns]

In [8]:
# Substituir valores nulos por 22000101
df['DTATESTADO'] = df['DTATESTADO'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(int)

# Se quiser como string (opcional)
df['DTATESTADO'] = df['DTATESTADO'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTATESTADO'] = df['DTATESTADO'].str.zfill(8)

# Converter para datetime
df['DTATESTADO'] = pd.to_datetime(df['DTATESTADO'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTATESTADO']].head())
print(df['DTATESTADO'].dtypes)

  DTATESTADO
0 2024-04-19
1 2024-01-18
2 2024-01-22
3 2024-03-25
4 2024-01-12
datetime64[ns]

In [9]:
# Substituir valores nulos por 22000101
df['DTINVESTIG'] = df['DTINVESTIG'].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(int)

# Se quiser como string (opcional)
df['DTINVESTIG'] = df['DTINVESTIG'].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df['DTINVESTIG'] = df['DTINVESTIG'].str.zfill(8)

# Converter para datetime
df['DTINVESTIG'] = pd.to_datetime(df['DTINVESTIG'], format='%d%m%Y', errors='coerce')

# Conferir
print(df[['DTINVESTIG']].head())
print(df['DTINVESTIG'].dtypes)

  DTINVESTIG
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [10]:
var =  'DTCADASTRO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

  DTCADASTRO
0 2024-05-03
1 2024-02-06
2 2024-02-06
3 2024-04-12
4 2024-02-05
datetime64[ns]

In [11]:
var =  'DTRECEBIM'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTRECEBIM
0 2024-05-08
1 2024-02-06
2 2024-02-06
3 2024-05-08
4 2024-02-06
datetime64[ns]

In [12]:
var =  'DTCADINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [13]:
var =  'DTCONINV'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCONINV
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [14]:
var =  'DTCADINF'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

    DTCADINF
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [15]:
var =  'DTCONCASO'
 # Substituir valores nulos por 22000101
df[var] = df[var].fillna(1012200)

# Se quiser converter para inteiro (opcional)
df[var] = df[var].astype(int)

# Se quiser como string (opcional)
df[var] = df[var].astype(str)

# Completar com zeros à esquerda até ter 8 dígitos
df[var] = df[var].str.zfill(8)

# Converter para datetime
df[var] = pd.to_datetime(df[var], format='%d%m%Y', errors='coerce')

# Conferir
print(df[[var]].head())
print(df[var].dtypes)

   DTCONCASO
0 2200-01-01
1 2200-01-01
2 2200-01-01
3 2200-01-01
4 2200-01-01
datetime64[ns]

In [16]:
# Preencher valores nulos em todas as colunas restantes com -1
df = df.fillna(-1)

In [17]:
df.info()
#Valores Nulos -> 01/01/2200
#DTOBITO   1316719 non-null  int64
#DTRECORIGA  1316719 non-null  int64
#DTNASC      1312650 non-null  float64
#DTATESTADO  1306593 non-null  float64
#DTINVESTIG  211899 non-null   float64
#DTCADASTRO  1312600 non-null  float64
#DTRECEBIM   1316445 non-null  float64
#DTCADINV    57903 non-null    float64
#DTCONINV    57438 non-null    float64
#DTCADINF    32303 non-null    float64
#DTCONCASO   29807 non-null    float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426346 entries, 0 to 1426345
Data columns (total 86 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   contador    1426346 non-null  int64
 1   ORIGEM      1426346 non-null  int64
 2   TIPOBITO    1426346 non-null  int64
 3   DTOBITO     1426346 non-null  datetime64[ns]
 4   HORAOBITO   1426346 non-null  float64
 5   NATURAL     1426346 non-null  float64
 6   CODMUNNATU  1426346 non-null  float64
 7   DTNASC      1426346 non-null  datetime64[ns]
 8   IDADE       1426346 non-null  int64
 9   SEXO        1426346 non-null  int64
 10  RACACOR     1426346 non-null  float64
 11  ESTCIV      1426346 non-null  float64
 12  ESC         1426346 non-null  float64
 13  ESC2010     1426346 non-null  float64
 14  SERIESCFAL  1426346 non-null  float64
 15  OCUP        1426346 non-null  float64
 16  CODMUNRES   1426346 non-null  int64
 17  LOCOCOR     1426346 non-null  int64
 18  CODESTAB    1426346 non-null  float64
 19  CODMUNOCOR  1426346 non-null  int64
 20  IDADEMAE    1426346 non-null  float64
 21  ESCMAE      1426346 non-null  float64
 22  ESCMAE2010  1426346 non-null  float64
 23  SERIESCMAE  1426346 non-null  float64
 24  OCUPMAE     1426346 non-null  float64
 25  QTDFILVIVO  1426346 non-null  float64
 26  QTDFILMORT  1426346 non-null  float64
 27  GRAVIDEZ    1426346 non-null  float64
 28  SEMAGESTAC  1426346 non-null  float64
 29  GESTACAO    1426346 non-null  float64
 30  PARTO       1426346 non-null  float64
 31  OBITOPARTO  1426346 non-null  float64
 32  PESO        1426346 non-null  float64
 33  TPMORTEOCO  1426346 non-null  float64
 34  OBITOGRAV   1426346 non-null  float64
 35  OBITOPUERP  1426346 non-null  float64
 36  ASSISTMED   1426346 non-null  float64
 37  EXAME       1426346 non-null  float64
 38  CIRURGIA    1426346 non-null  float64
 39  NECROPSIA   1426346 non-null  float64
 40  LINHAA      1426346 non-null  object
 41  LINHAB      1426346 non-null  object
 42  LINHAC      1426346 non-null  object
 43  LINHAD      1426346 non-null  object
 44  LINHAII     1426346 non-null  object
 45  CAUSABAS    1426346 non-null  object
 46  CB_PRE      1426346 non-null  float64
 47  COMUNSVOIM  1426346 non-null  float64
 48  DTATESTADO  1426346 non-null  datetime64[ns]
 49  CIRCOBITO   1426346 non-null  float64
 50  ACIDTRAB    1426346 non-null  float64
 51  FONTE       1426346 non-null  float64
 52  NUMEROLOTE  1426346 non-null  float64
 53  DTINVESTIG  1426346 non-null  object
 54  DTCADASTRO  1426346 non-null  datetime64[ns]
 55  ATESTANTE   1426346 non-null  float64
 56  STCODIFICA  1426346 non-null  object
 57  CODIFICADO  1426346 non-null  object
 58  VERSAOSIST  1426346 non-null  object
 59  VERSAOSCB   1426346 non-null  float64
 60  FONTEINV    1426346 non-null  float64
 61  DTRECEBIM   1426346 non-null  datetime64[ns]
 62  ATESTADO    1426346 non-null  object
 63  DTRECORIGA  1426346 non-null  datetime64[ns]
 64  OPOR_DO     1426346 non-null  int64
 65  CAUSAMAT    1426346 non-null  object
 66  ESCMAEAGR1  1426346 non-null  float64
 67  ESCFALAGR1  1426346 non-null  float64
 68  STDOEPIDEM  1426346 non-null  float64
 69  STDONOVA    1426346 non-null  int64
 70  DIFDATA     1426346 non-null  int64
 71  NUDIASOBCO  1426346 non-null  float64
 72  DTCADINV    1426346 non-null  datetime64[ns]
 73  TPOBITOCOR  1426346 non-null  float64
 74  DTCONINV    1426346 non-null  datetime64[ns]
 75  FONTES      1426346 non-null  object
 76  TPRESGINFO  1426346 non-null  float64
 77  TPNIVELINV  1426346 non-null  object
 78  DTCADINF    1426346 non-null  datetime64[ns]
 79  MORTEPARTO  1426346 non-null  float64
 80  DTCONCASO   1426346 non-null  datetime64[ns]
 81  ALTCAUSA    1426346 non-null  float64
 82  CAUSABAS_O  1426346 non-null  object
 83  TPPOS       1426346 non-null  object
 84  TP_ALTERA   1426346 non-null  float64
 85  CB_ALT      1426346 non-null  object
dtypes: datetime64[ns](10), float64(48), int64(11), object(17)
memory usage: 935.9+ MB

In [18]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
contador,1,2,3,4,5,6,7,8,9,10
ORIGEM,1,1,1,1,1,1,1,1,1,1
TIPOBITO,2,2,2,2,2,2,2,2,2,2
DTOBITO,2024-04-19 00:00:00,2024-01-18 00:00:00,2024-01-22 00:00:00,2024-03-24 00:00:00,2024-01-12 00:00:00,2024-02-02 00:00:00,2024-01-05 00:00:00,2024-01-10 00:00:00,2024-03-01 00:00:00,2024-03-02 00:00:00
HORAOBITO,2301.0,1030.0,700.0,1220.0,800.0,903.0,810.0,2000.0,1030.0,540.0
...,...,...,...,...,...,...,...,...,...,...
ALTCAUSA,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
CAUSABAS_O,I279,A09,E112,G309,I219,I219,Q248,J129,N19,I501
TPPOS,N,N,N,N,N,N,N,N,N,N
TP_ALTERA,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
CB_ALT,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1